<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.basicjapanese">


    <application
        android:allowBackup="true"
        android:icon="@drawable/bj_icon"
        android:roundIcon="@drawable/bj_icon_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PhrasesActivity"
            android:label="@string/phrases_name"
            ></activity>
        <activity
            android:name=".NumberActivity"
            android:label="@string/numbers_name"
            ></activity>
        <activity
            android:name=".ColorActivity"
            android:label="@string/colors_name"
            ></activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>